* {
    box-sizing: border-box;
}
body {
    background-color: #F0F2F7;
    font-size: 14px;
}
.shop_block {
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
}
.shop_block ul {
    margin: 0;
    padding: 0;
    list-style: none
}
.shop_block .change_style {
    position: absolute;
    right: 14px;
    top: 10px;
}
.shop_block .change_style:after {
    content: '';
    width: 1px;
    height: 20px;
    background: #000;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
}
.shop_block .change_style span {
    padding: 10px;
    background: #fff;
    font-size: 18px;
    border-radius: 8px;
}
.shop_block .change_style span a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.shop_block .change_style span a.active {
    color: #ccc;
    cursor: default;
}
.shop_block h3 {
    font-weight: 700;
    margin-top: 0;
    font-size: 22px;
    margin: 16px !important;
}
.shop_block .item_name {
    font-size: 18px;
    font-weight: 700;
}
.shop_block .media-body span {
    display: block;
}
.shop_block .add_to_card_btn {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    display: inline-block;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    background: #43a047!important;
    color: #fff!important;
    text-decoration: none;
    position: absolute;
}
.shop_block .new-tag {
    position: absolute;
    background-color: #43a047;
    color: #fff;
    padding: 3px 10px;
    border-radius: 15px;
    font-size: 12px;
}

/**** SHOP LIST ****/
.shop_list ul li {
    margin: 16px;
    border-radius: 8px;
    padding: 14px 24px;
    background: #ffffff;
    position: relative;
}
.shop_list .media-left {
    padding: 0 20px 16px 0;
    position: relative;
    max-width: 200px;
    max-height: 200px;
}
.shop_list .media-body {
    padding: 0 16px 16px;
    position: relative;
}
.shop_list .add_to_card_btn {
    top: 0;
    right: 0;
}
.shop_list .new-tag {
    right: 24px;
    top: 4px;
}
/**** GRID ITEM ****/
.shop_grid ul {
    margin: 0 -16px;
}
.shop_grid ul li {
    padding: 0 16px;
    width: 33.33%;
    float: left;
    margin-bottom: 32px;
}
.shop_cnt ul li .media {
    background: #fff;
    border-radius: 8px;
    padding: 14px 24px 50px;
    position: relative;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
.shop_grid ul li .media-left {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
}
.shop_grid .item_price {
    color: #e53935!important;
    font-size: 16px;
    font-weight: 700;
}
.shop_grid .add_to_card_btn {
    bottom: 16px;
    right: 16px;
}
.shop_grid .new-tag {
    right: 0;
    top: 0;
}